<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pinterest</title>
    <link rel="icon" href="/images/pinterest-icon.png" />
    <link rel="stylesheet" href="/stylesheets/add.css" />
  </head>
  <body>
    <div class="cont">
      <h2>Create a post</h2>
      <form action="/createpost" method="post" enctype="multipart/form-data">
        <div class="innerDiv">
          <div class="iptfile">
            <input type="file" name="inputfile" />
          </div>
          <input
            type="text"
            placeholder="Title"
            id="ipt"
            class="ipttitle"
            name="title"
          />
          <textarea
            id="ipt"
            class="txtarea"
            cols="30"
            rows="10"
            placeholder="Description"
            name="description"
          ></textarea>
          <input
            type="submit"
            value="Upload"
            id="ipt"
            class="uploadbtn"
            style="border: 2px solid red"
          />
        </div>
      </form>
    </div>
    <script src="/javascripts/add.js"></script>
  </body>
</html>
