<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>
    <link rel="stylesheet" href="/stylesheets/editprofile.css">
</head>
<body>
    <div class="container">
        <form id="contactus" action="" method="post">
            <h3>Edit your profile</h3>
            Select photo for profile
            <input type="file">
        <input placeholder="Name" type="text" tabindex="1" required autofocus>
        <button name="submit" type="submit" id="contactus-submit" data-submit="...Sending"><i id="icon" class=""></i>Update</button>
        </form>
    </div>
</body>
</html>