<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pinterest</title>
    <link rel="icon" href="/images/pinterest-icon.png" />
    <link rel="stylesheet" href="/stylesheets/nav.css">
  </head>
  <body>
    <nav>
        <div class="outerDiv">
            <div class="homeDiv">
                <img src="/images/pinterest-icon.png" alt="">
                <a href="/profile"><p id="home"  style="font-size: 17px;">Home</p></a>
            </div>
            <div class="innerDiv">
              <a href="/profile"><p style="font-size: 17px;">Profile</p></a>
              <a href="/feed"><p style="font-size: 17px;">Feed</p></a>
              <a href="/logout"><p id="logout" style="font-size: 17px;">Log out</p></a>
            </div>
        </div>
    </nav>
  </body>
</html>
