<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pinterest</title>
    <link rel="icon" href="/images/pinterest-icon.png" />
    <link rel="stylesheet" href="/stylesheets/nav.css">
  </head>
  <body>
    <nav>
        <div class="outerDiv">
            <div class="homeDiv">
                <img src="/images/pinterest-icon.png" alt="">
                <a href="/profile"><h6 id="home">Home</h6></a>
            </div>
            <div class="innerDiv">
              <a href="/profile"><h6>Profile</h6></a>
              <a href="/feed"><h6>Feed</h6></a>
              <a href="/logout"><h6 id="logout">Log out</h6></a>
            </div>
        </div>
    </nav>
  </body>
</html>
