<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pinterest - India</title>
  <link rel="stylesheet" href="/stylesheets/signup.css">
  <link rel="icon" href="/images/pinterest-icon.png">
</head>
<body>
  <div class="container ">
    <div class="content">
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
      <p class="header">Sign Up</p>
      `
      <form action="/signup" method="post">
        <input type="email" name="email" placeholder="Email" class="detail" /><br />
        <input type="password" name="password" placeholder="Password" class="detail" />
        <h4>Forgot your password?</h4>
        <input type="submit" class="btn int" value="Sign in">
      </form>

      <footer>
        <p>
          By continuing, you agree to Pinterest's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <p>Not on Pinterest yet? <a href="/" class="upbtn">Sign up</a></p>
      </footer>
    </div>
  </div>
</body>
</html>