.cont{
    /* background-color: aqua; */
    height: calc(100vh - 60px);
    width: 100vw;
    overflow: hidden;
}

.pins{
    width: 100vw;
    min-height: 100vh;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.pin{
    width: 200px;
    overflow: hidden;
    word-wrap: break-word;
}

.pin img{
    width: 200px;
    background-color: #ffffffad;
    border-radius: 20px;
}

.pin h5{
    padding: 7px;
}